[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "golem_garden"
version = "0.1.0"
description = "A Golem Garden pattern implementation to wrangle a menagerie of chatbots."
authors = [
    {name = "Jonathan Samir Matthis", email = "jonmatthis@gmail.com"},
]
license = { file = "LICENSE" }
[options]
packages = "find:"

dependencies = [
"rich",
"python-dotenv",
"openai",
]

dynamic = ["version", "description"]

[project.optional-dependencies]
dev = ["black", "bumpver", "isort", "pip-tools", "pytest"]

[project.urls]
Homepage = "https://github.com/jonmatthis/golem_garden"

[tool.bumpver]
current_version = "v0.1.0"

version_pattern = "vMAJOR.MINOR.PATCH[-TAG]"
commit_message  = "Bump version {old_version} -> {new_version}"
commit          = true
tag             = true
push            = true

[tool.poetry.dependencies]
python = "^3.6"

[project.scripts]
skellycam = "golem_garden.main:main"